@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.logo {
    height: 40px;
}

#messages-holder {
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 25%;
}

#messages-holder #messages {
    height: 0px;
    transition: .3s;
    overflow-y: scroll;
}

.profile-img {
    height: 40px;
    width: 40px;
    background-size: cover;
}

#messages .profile-img {
    height: 40px;
    width: 45px;
    background-size: cover;
}

#sidebar {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1430px) {
    #messages-holder {
        width: 30%;
    }
}
@media screen and (max-width: 1290px) {
    #messages-holder {
        width: 35%;
    }
}
@media screen and (max-width: 924px) {
    #messages-holder {
        width: 45%;
    }
}
@media screen and (max-width: 704px) {
    #messages-holder {
        width: 60%;
    }
}
@media screen and (max-width: 660px) {
    #messages-holder {
        width: 70%;
    }
}
